.DS_Store
.codelite
*.o
*.a
*.elf
*.op
*.os
*.build
*.log
*.lo
*.la
DS_CORE.BIN
DS.cdi
build/1DS_CORE.BIN
romdisk.img
applications/*/*/*.klf
applications/*/*/exports.c
modules/*/*.klf
exports.c
exports_stubs.c
exports_gcc.c
exports_gcc_stubs.c
lib/freetype/builds
lib/freetype/objs/.libs/libfreetype.lai
lib/freetype/objs/apinames
lib/freetype/objs/ftexport.sym
lib/freetype/objs/ftmodule.h
lib/mxml/Makefile
lib/mxml/autom4te.cache/output.0
lib/mxml/autom4te.cache/requests
lib/mxml/autom4te.cache/traces.0
lib/mxml/config.status
lib/mxml/mxml.list
lib/mxml/mxml.pc
sdk/toolchain/
!sdk/toolchain/download.sh
!sdk/toolchain/Makefile
!sdk/toolchain/patches/
!sdk/toolchain/unpack.sh
